

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');



*{
    background-color: #E5E5FD;
    margin: auto;
    padding: 0;
   
}

body {

    font-family: 'Inter', sans-serif;
    border: 12px solid #1D1E4C;
    margin: 100px;
    /* position: absolute; */


}

header {
    display: flex;
      
}

header img{
    margin-left: 85px;
    margin-top: 100px;
    border-radius:170px ;
    height: 392px;
    width: 314px;
}

header h1{
    padding-top: 372px;
    padding-left: 62px;
    padding-right: 118px;
    height:47px;
    width: 453px;
    font-style: medium;
    font-size: 48px;
    font-weight: 500;
    line-height: 20px;
    line-height:34%;
    text-align:left;
    vertical-align: center;

}

header h4{
    height: 47px;
    width: 133px;
    color: #000;
    font-weight: 500;
    padding-left: 395px;
    padding-right: 130px;
    padding-top: 6px;
    font-style: medium;
    font-size: 24px;
    line-height: 20px;
    text-align: left;
    vertical-align: center;
    line-height:100%;

}

section h1{
    height: 62px;
    width: 800px;
    color: #000;
    padding-top: 104px;
    padding-right: 79px;
    font-style: medium;
    font-weight: 500;
    font-size: 72px;
    line-height: 20px;
    line-height: 23%;
    text-align: left;
    vertical-align: center;

}
section article{
    color: #000;
    width: 842px;
    height: 176px;
    padding-top: 32px;
    padding-left: 85px;
    padding-right: 105px;
    padding-bottom: 39px;
    font-style: mixed;
    font-size: 12px;
    line-height: 22px;
    line-height: 151%;
    font-weight: 500;
    text-align: left;
    vertical-align: center;
    font-family: Inter;
    letter-spacing: 6%;

}
article{
    width: 607px;
    height: 218px;
    color: #000;
    padding-left: 97px;
    padding-bottom: 144px;
    padding-top: 39px;
    font-weight: 500;
    padding-right: 340px;
    line-height: 20px;
    font-size: mixed;

}
article h3{
    color: #000;
    padding-bottom: 10px;
    line-height: 20px;
    font-size: mixed;
    font-weight: 500;
}
article ul{
    color: #000;
    font-style: mixed;
    padding-left: 10px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 500;
    text-align: left;
    vertical-align: center;
    font-family: Inter;
    letter-spacing: 6%;
}

footer{
    height: 20px;
    width: 384px;
    padding-bottom: 27px;
    padding-left: 624px;
    font-weight: 500;
    font-style: medium;
    font-size: 14px;
    line-height: 20px;
    line-height: 118%;
    text-align: left;
    vertical-align: Center;

}



