*{
    margin:0;
    padding: 0; 
    box-sizing: border-box;
    
}
.container{
    background-color: #E5E5FD;
    min-height: 100px;
    border: 10px solid #1d1e4c; 
    margin: 100px;
    

}
.content_title{
    margin-left: 100px;
}

article{
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
}
h3{
    margin-top: 50px;
    margin-bottom: 25px;

}
ul li{
    margin-left: 20px;
}

.auth{
    text-align: end;
    margin: 50px;
}
